Samples/WebServiceBridge/VendorWebClient/Service References/BusinessEntity/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://masstransit.googlecode.com/Samples/BusinessWebService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://masstransit.googlecode.com/Samples/BusinessWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://masstransit.googlecode.com/Samples/BusinessWebService">
      <s:element name="CheckInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="partNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckInventoryResult" type="tns:InventoryLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InventoryLevel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantityOnHand" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantityOnOrder" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckInventorySoapIn">
    <wsdl:part name="parameters" element="tns:CheckInventory" />
  </wsdl:message>
  <wsdl:message name="CheckInventorySoapOut">
    <wsdl:part name="parameters" element="tns:CheckInventoryResponse" />
  </wsdl:message>
  <wsdl:portType name="InventoryServiceSoap">
    <wsdl:operation name="CheckInventory">
      <wsdl:input message="tns:CheckInventorySoapIn" />
      <wsdl:output message="tns:CheckInventorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryServiceSoap" type="tns:InventoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckInventory">
      <soap:operation soapAction="http://masstransit.googlecode.com/Samples/BusinessWebService/CheckInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InventoryServiceSoap12" type="tns:InventoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckInventory">
      <soap12:operation soapAction="http://masstransit.googlecode.com/Samples/BusinessWebService/CheckInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="InventoryServiceSoap" binding="tns:InventoryServiceSoap">
      <soap:address location="http://localhost:5309/InventoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="InventoryServiceSoap12" binding="tns:InventoryServiceSoap12">
      <soap12:address location="http://localhost:5309/InventoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>